.contact {
  text-align: center;
  margin: 75px auto;

  p {
    width: 80%;
    margin: 30px auto;
  }

  span {
    color: #223351;
    text-transform: uppercase;
  }
  button {
    padding: 10px 20px;
    font-size: 0.8rem;
    background: white;
    border: 1px solid rgb(143, 143, 143);
  }
}
