footer {
  border-top: 2px solid rgb(218, 216, 216);
  padding: 30px 0;

  .footerContainer {
    display: flex;
    justify-content: space-between;
  }

  .socialsContainer {
    a {
      margin-right: 30px;
      border-bottom: 2px solid transparent;
    }

    a:hover {
      border-bottom: 2px solid black;
    }
  }
}
