header {
  position: relative;

  .headerContainer {
    display: flex;
  }

  .leftHeader,
  .rightHeader {
    margin: 100px auto;
    width: 50%;
  }

  nav {
    position: absolute;
    top: 0%;
    left: 0%;
  }

  ul {
    display: flex;

    li:first-child {
      background-color: black;
      a {
        color: white;
      }
    }

    li {
      padding: 10px 40px;
    }
  }

  img {
    min-width: 100%;
    min-height: 100%;
  }

  p {
    margin: 20px 50px 20px 0;
  }
}
