header {
  position: relative;
  margin-bottom: 100px;

  .headerContainer {
    display: flex;
  }

  .leftHeader {
    width: 50%;
    margin: 70px auto;
  }

  .rightHeader {
    position: relative;
    margin: 70px auto;
    width: 50%;
  }

  nav {
    position: absolute;
    top: 0%;
    left: 0%;
  }

  ul {
    display: flex;

    li:first-child {
      background-color: black;

      a {
        color: white;
      }
    }

    li {
      padding: 10px 40px;
    }
  }

  img {
    min-width: 100%;
    height: auto;
    box-shadow: -25px 25px 0px -1px #223351;
  }

  p {
    margin: 20px 50px 20px 0;
  }

  .contactButton {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .headerLine {
    height: 170px;
    border-left: 1px solid black;
    align-self: center;
  }

  .socialsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -14%;
    top: 0%;

    a {
      margin-bottom: 50px;
    }
  }

  a:hover {
    border-bottom: 2px solid black;
  }
}
