.work {
  margin: 80px auto;
  h2 {
    margin: 50px 0;
  }
  .workContainer {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
  }
  .workTextTwo,
  .workTextOne {
    width: 50%;
  }

  .workImageOne,
  .workImageTwo {
    width: 40%;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 30px auto;
  }

  h3 {
    color: gray;
  }
}
